* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: DIN-Alternative;
  background-color: rbga(236, 244, 252, 100);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

nav {
  overflow: auto;
}



/* Gets font .ttf from src folder */
@font-face {
  font-family: DIN-Alternative;
  src: url(../fonts/DINAlternate-Bold.ttf);
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rbga(236, 244, 252, 100);
  color: #fff;
}
.nav-links a {
  color: black;
}

/* LOGO */
.logo {
  max-width: 374px;
  max-height: 119px;
  align-items: center;
  /* background-color: rgba(255,255,255,100); */
}

.navbar.border {
  border: solid;
  border-color: rgba(112, 112, 112, 100);
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  padding-right: 50px;
}

.menu li:hover {
  background-color: rgb(0,217,122);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

#backgroundimage {
  background-image: url("../images/backgroundimage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vw;
  position: relative;
}

/* NAVBAR MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: slategray;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
    color: black;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }

  .home-splash {
	flex-direction: column;
	margin: auto;
  }

  #backgroundimage {
    background-image: url("../images/backgroundimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vw;
    position: relative;
    background-attachment: fixed;
  }
}

/* custom--- */

.home-splash {
  flex-direction: column;
  padding-left: 15vh;
}

.home-splash h1 {
  display: flex;
  align-items: flex-start;
  padding-top: 25vh;
  font-size: 64px;
}

.home-splash h3 {
  display: flex;
  align-items: flex-start;
  padding-top: 3vh;
  padding-bottom: 30vh;
  font-weight: 300;
}

.infosection1 {
	justify-content:flex-end;
	flex-direction: row;
}

.infobox1 {
	display: flex;
	flex-direction: column;
	background-color: rgba(239, 239, 240, .75);
	justify-content: flex-end;
	align-items: flex-end;
	padding-left: 15vh;
	padding-right: 25vh;
	margin-bottom: 20vh;
}

.infobox1 h2 {
	font-size: 38px;
	font-weight: 300;
	padding-bottom: 1vh;
	letter-spacing: 2px;
	justify-content: flex-end;
	margin-right: -4vh;
}

.infobox1 li {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 0px;
	list-style: circle;
	justify-content: flex-end;
	padding-bottom: 1vh;
}

.infobox2 {
	display: flex;
	flex-direction: column;
	background-color: rgba(239, 239, 240, .75);
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 15vh;
	padding-right: 25vh;
}

.infobox2 h2 {
	font-size: 38px;
	font-weight: 300;
	padding-bottom: 1vh;
	letter-spacing: 2px;
	justify-content: flex-start;
	margin-left: -5vh;
}

.infobox2 li {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 0px;
	list-style: circle;
	justify-content: flex-start;
	padding-bottom: 1vh;
}