* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: DIN-Alternative;
  background-color: rbga(236, 244, 252, 100);
}
html, body {
	overflow-x: hidden;
	width: 100%
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

nav {
  overflow: auto;
}

/* Gets font .ttf from src folder */
@font-face {
  font-family: DIN-Alternative;
  src: url(../fonts/DINAlternate-Bold.ttf);
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rbga(236, 244, 252, 100);
  color: #fff;
}
.nav-links a {
  color: black;
}

/* LOGO */
.logo {
  max-width: 374px;
  max-height: 119px;
  align-items: center;
  /* background-color: rgba(255,255,255,100); */
}

.navbar.border {
  border: solid;
  border-color: rgba(112, 112, 112, 100);
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  padding-right: 50px;
}

.menu li:hover {
  background-color: rgb(0, 217, 122);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

#backgroundimage {
  background-image: url("../images/backgroundimage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vw;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.width-adjust {
	max-width: 100vh;
	overflow: none;
}

.home-splash {
  flex-direction: column;
  overflow-y: auto;
}

.home-splash h1 {
  align-items: flex-start;
  padding-top: 25vh;
  font-size: 76px;
  font-weight: 550;
  padding-left: 15vh;
}

.home-splash h3 {
  align-items: flex-start;
  padding-top: 3vh;
  margin-bottom: 35.5vh;
  font-size: 32px;
  font-weight: 300;
  padding-left: 15vh;
}

.infosection1 {
  justify-content: flex-end;
  flex-direction: row;
}

.infobox1 {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right,  rgb(0, 217, 122) 0%,rgb(241, 241, 241) 50%,rgb(241, 241, 241) 50%,rgb(241, 241, 241) 100%);
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 20vh;
}

.infobox1 content {
  justify-content: space-between;
  flex-direction: row;
}

.home-images1 {
	padding-right: 15vh;
}

.infobox1 h2 {
  font-size: 76px;
  font-weight: 300;
  padding-top: 7vh;
  padding-bottom: 8vh;
  letter-spacing: 2px;
  max-width: 100%;
}

.infobox1 li {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0px;
  list-style: circle;
  padding-bottom: 7vh;
  margin-left: 4vh;
  max-width: 100%;
}

.infobox2 {
  display: flex;
  flex-direction: row;
  background-color: rgba(241, 241, 241, 1);
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 20vh;
}

.infobox2 h2 {
  font-size: 38px;
  font-weight: 300;
  padding-bottom: 1vh;
  letter-spacing: 2px;
  justify-content: flex-start;
}

.infobox2 li {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0px;
  list-style: circle;
  justify-content: flex-start;
  padding-bottom: 1vh;
  margin-left: 5vh;
}

/* SMARTPHONE MEDIA QUERIES */
@media only screen and (max-width: 768px) {
	.menu {
	  display: none;
	  position: absolute;
	  background-color: slategray;
	  right: 0;
	  left: 0;
	  text-align: center;
	  padding: 16px 0;
	}
	.menu li:hover {
	  display: inline-block;
	  background-color: rgb(0, 217, 122);
	  transition: 0.3s ease;
	}
	.menu li + li {
	  margin-top: 12px;
	}
	input[type="checkbox"]:checked ~ .menu {
	  display: block;
	}
	.hamburger {
	  display: block;
	  color: black;
	}
  
	.dropdown {
	  left: 50%;
	  top: 30px;
	  transform: translateX(35%);
	}
	.dropdown li:hover {
	  background-color: rgb(0, 217, 122);
	}
  
	.home-splash {
	  flex-direction: column;
	  margin: auto;
	  padding-left: 0vh;
	}

	.home-splash h3 {
		align-items: center;
		align-content: center;
		padding-top: 3vh;
		margin-bottom: 35.5vh;
		font-size: 32px;
		font-weight: 300;
		/* padding-left: 5vh; */
	  }
  
	.infobox1 {
	  display: flex;
	  flex-direction: column;
	  background-color: rgba(239, 239, 240, 0.75);
	  align-items: center;
	  margin-bottom: 20vh;
	}
	
	img[src^="./images/Business_Man.png"] {
		width: 245px;
		height: 175px;
		border: 13px solid rgba(0, 217, 122, 0.3);
		margin-right: 50px;
	  }

	.home-splash h1 {
	  display: flex;
	  justify-content: center;
	  font-size: 64px;
	  padding-left: 3vh;
	}
  
	.infobox1 h2 {
	  font-size: 36px;
	  font-weight: 100;
	  padding-top: 7vh;
	  padding-bottom: 8vh;
	  letter-spacing: 2px;
	  justify-content: center;
	  align-items: center;
	  max-width: 100%;
	}
  
	.infobox1 li {
	  font-size: 20px;
	  font-weight: 100;
	  letter-spacing: 0px;
	  list-style: circle;
	  /* padding-bottom: 7vh; */
	  margin-left: 4vh;
	  max-width: 100%;
	}
  
	#backgroundimage {
	  background-image: url("../images/backgroundimage.png");
	  background-repeat: no-repeat;
	  background-size: cover;
	  max-width: 100%;
	  position: relative;
	  background-attachment: fixed;
	  overflow: auto;
	}
}